@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZYokRdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkhdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPa7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lBdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclRdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZklxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_AkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nAkA.ttf) format('truetype');
}
body {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  background: #e1e0e0;
  margin: 2rem auto;
}
body main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex-grow: 0;
  box-shadow: hwb(0 0% 100% / 0.24) 0px 3px 8px;
  background: #fff;
  border-radius: 10px;
}
body header h1,
body section h1 {
  color: #2288b7;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
}
body header h2,
body section h2 {
  color: #555;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}
body header .flex-container,
body section .flex-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  padding: 1rem 2rem;
}
body header .flex-container .flex-column,
body section .flex-container .flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
body header .flex-container .flex-row,
body section .flex-container .flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}
body header .flex-container form,
body section .flex-container form {
  display: flex;
}
body header .flex-container form .input,
body section .flex-container form .input {
  display: flex;
  flex-grow: 1;
}
body header .flex-container form input,
body section .flex-container form input,
body header .flex-container form select,
body section .flex-container form select,
body header .flex-container form button,
body section .flex-container form button {
  flex-grow: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
body header .flex-container form button.reset,
body section .flex-container form button.reset {
  background: #cbcbcb;
  background: linear-gradient(0deg, #cbcbcb 0%, #f0f0f0 100%);
  color: #494949;
  border: none;
  font-weight: bold;
}
body header .flex-container form button.search,
body section .flex-container form button.search {
  background: #3b87f1;
  background: linear-gradient(0deg, #3b87f1 0%, #6aa0f3 100%);
  color: #494949;
  border: none;
  font-weight: bold;
  color: #fff;
}
body header .flex-container table,
body section .flex-container table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid #dbdedf;
  border-radius: 10px;
}
body header .flex-container table thead,
body section .flex-container table thead {
  background: #eaeced;
  color: #666666;
}
body header .flex-container table thead tr th,
body section .flex-container table thead tr th {
  padding: 1rem;
  border: 2px solid #dbdedf;
}
body header .flex-container table thead tr th:first-child,
body section .flex-container table thead tr th:first-child {
  text-align: left !important;
}
body header .flex-container table tbody,
body section .flex-container table tbody {
  color: #898989;
}
body header .flex-container table tbody tr td,
body section .flex-container table tbody tr td {
  padding: 0.5rem 1rem;
  border: 2px solid #dbdedf;
}
body header .flex-container table tbody tr td:not(:first-child),
body section .flex-container table tbody tr td:not(:first-child) {
  text-align: center;
}
body header .flex-container ul.pagination,
body section .flex-container ul.pagination {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  list-style-position: inside;
  list-style-type: none;
}
body header .flex-container ul.pagination li a button,
body section .flex-container ul.pagination li a button {
  background: #eee;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  font-weight: bold;
}
body header .flex-container ul.pagination li.active a button,
body section .flex-container ul.pagination li.active a button {
  background: #646464;
  color: #f2f2f2;
}
